<h2>Restrurants</h2>
<ul>
  <% @restaurants.each do |restaurant| %>
  <li><%= restaurant.name %>
  <%= link_to "Details",restaurant_path(restaurant)  %> </li>
</ul>

  <% end %>
  <br><br>
  <%= link_to "+ Add Restaurant", new_restaurant_path%>
